@use 'colors' as c;
@use 'functions' as f;
@use 'media-queries' as m;


.main__container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: f.rem(30);
    height: 80vh;

    &-right img {
        width: 100%;
        height: 100%;
    }

    @include m.tablet-up {
        grid-template-columns: 1fr 1fr;
        text-align: left;
        justify-items: center;
        align-items: center;
        // margin-top: f.rem(80);
    }

    h1 {
        font-size: f.rem(56);
        color: c.$lime;

        @include m.desktop-up{
            font-size: f.rem(66);
        }
    }

    h2{
        font-size: f.rem(50);
        color: c.$dark;

        @include m.desktop-up{
            font-size: f.rem(60);
        }
    }

    p {
        font-size: f.rem(32);
        font-weight: bold;

        @include m.desktop-up{
            font-size: f.rem(42);
        }
    }


    button {
        padding: f.rem(20) f.rem(40);
        font-size: f.rem(24);
        background-color: c.$lime;
        color: c.$light;
        border-radius: f.rem(5);
        transition: .4s;
        border: none;
        margin: f.rem(40) 0;
        text-decoration: none;

        &:hover {
            background-color: c.$orangeRed;
            color: c.$light;
        }

    }


}

